.DS_Store
venv/
.venv/
/Notes.md
node_modules/
.env
.env.*
schema.md
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.egg-info/
dist/
build/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.tox/
.vscode/
.idea/
*.swp
